In [ ]:
# Import the dependencies
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding ="latin1" )

In [ ]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [67]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [60]:
df["Element"]

0                 Total Population - Both sexes
1                      Domestic supply quantity
2                 Food supply (kcal/capita/day)
3        Protein supply quantity (g/capita/day)
4            Fat supply quantity (g/capita/day)
                          ...
60938                                      Food
60939       Food supply quantity (kg/capita/yr)
60940             Food supply (kcal/capita/day)
60941    Protein supply quantity (g/capita/day)
60942        Fat supply quantity (g/capita/day)
Name: Element, Length: 60943, dtype: object

In [54]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
selected_df = df[['Y2017', 'Area']]

# Grouping by 'Area' and summing the 'Y2017' values
grouped_df = selected_df.groupby('Area')['Y2017'].sum().reset_index()

# Sorting the DataFrame by the sum of 'Y2017' in ascending order
sorted_df = grouped_df.sort_values(by='Y2017')

# Finding the area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_df.iloc[6]['Area']
seventh_lowest_area

'Guinea-Bissau'

In [53]:
# The total sum of Wine produced in 2015 and 2018 respectively?
wine_df = df[df['Item'] == 'Wine']


total_wine_2015 = wine_df['Y2015'].sum()
total_wine_2018 = wine_df['Y2018Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?'].sum()

print("Total Wine produced in 2015:", total_wine_2015)
print("Total Wine produced in 2018:", total_wine_2018)

Total Wine produced in 2015: 4251.8099999999995
Total Wine produced in 2018: 4039.3199999999997

In [55]:
# What year has the highest sum of Stock Variation?
stock_variation_df = df[df['Element'] == 'Stock Variation']

sum_by_year = stock_variation_df[['Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

year_highest_sum = sum_by_year.idxmax()

print(f"The year with the highest sum of Stock Variation is {year_highest_sum[1:]}.")

The year with the highest sum of Stock Variation is 2017.

In [29]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x=y[1][1]
x1=y[1][-1]
x2=y[2][-1]
x2
x3 = y[1][-2]
x3

7

In [30]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [56]:
#the total number of missing data in 2014 to 3 decimal places?
year_2014_data = df['Y2014']

# Count the total number of missing values in the year 2014 data
missing_count = year_2014_data.isnull().sum()
missing_count

1589

In [57]:
#the total percentage of missing data in 2014 to 3 decimal places?
total_entries = len(year_2014_data)
total_entries
# Calculate the percentage of missing data
percentage_missing = (missing_count / total_entries) * 100
percentage_missing

2.6073544131401474

In [38]:
mean_2017 = df['Y2017'].mean()
std_2017 = df['Y2017'].std()

# Round to 2 decimal places
mean_2017 = round(mean_2017, 2)
std_2017 = round(std_2017, 2)

print("Mean for 2017:", mean_2017)
print("Standard Deviation for 2017:", std_2017)

Mean for 2017: 140.92
Standard Deviation for 2017: 1671.86

In [40]:
total_unique_countries = df['Area'].nunique()

print("Total number of unique countries:", total_unique_countries)

Total number of unique countries: 49

In [63]:
total_value_2017 = df['Y2017'].sum()

# Print the total sum for 2017
print("Total sum for 2017:", total_value_2017)

Total sum for 2017: 8375729.189999999

In [48]:
selected_columns = ['Element Code', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
df_selected = df[selected_columns]

# Calculate the correlation matrix
correlation_matrix = df_selected.corr()

# Find the minimum correlation value excluding the diagonal (which will be 1)
min_correlation = np.min(correlation_matrix.values[~np.eye(correlation_matrix.shape[0], dtype=bool)])

# Find the corresponding years for the minimum correlation
min_correlation_years = correlation_matrix[correlation_matrix == min_correlation].dropna(how='all').stack().index.tolist()

print("The least correlation value:", min_correlation)
print("The corresponding years for the least correlation:", min_correlation_years)

The least correlation value: 0.02344399758496104
The corresponding years for the least correlation: [('Element Code', 'Y2016'), ('Y2016', 'Element Code')]

In [47]:
madagascar_protein_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()

print("Total Protein supply quantity in Madagascar in 2015:", madagascar_protein_2015)

Total Protein supply quantity in Madagascar in 2015: 173.04999999999998

In [46]:
df_selected = df[['Y2017', 'Area']]

# Grouping by 'Area' and summing the values for 2017
df_grouped = df_selected.groupby('Area')['Y2017'].sum()

# Finding the area with the highest sum in 2017
area_highest_sum_2017 = df_grouped.idxmax()
highest_sum_2017 = df_grouped.max()

print(f"The area with the highest sum in 2017 is {area_highest_sum_2017} with a sum of {highest_sum_2017}.")

The area with the highest sum in 2017 is Nigeria with a sum of 1483268.23.