In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv("/content/Energy Data.csv")

In [ ]:
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [ ]:
df = df.drop("date", axis = 1)

In [ ]:
simple_linear_reg_df = df[['Relative_Compactness', 'Cooling_Load']].sample(15, random_state=2)

In [ ]:
#Question 17
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_df = normalised_df["T2"]
heating_target = normalised_df['T6']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, heating_target,
test_size=0.3, random_state=1)

In [ ]:
linear_model = LinearRegression()
#fit the model to the training dataset
x_train_reshaped = x_train.values.reshape(-1, 1)
y_train_reshaped = y_train.values.reshape(-1, 1)
x_test_reshaped = x_test.values.reshape(-1, 1)
linear_model.fit(x_train_reshaped, y_train_reshaped)
#obtain predictions
predicted_values = linear_model.predict(x_test_reshaped )
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.082

In [ ]:
from sklearn.metrics import mean_squared_error
rss = np.sum(np.square(y_test.values - predicted_values))
round(rss, 3)  # This will print the RSS value

# Root Mean Square Error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

NameError: name 'y_pred' is not defined

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
T2 = df["T2"]
T6 = df["T6"]
T2 = T2.values.reshape(-1, 1)
model = LinearRegression()
model.fit(T2, T6)
predicted_T6 = model.predict(T2)
predicted_T6 = model.predict(T2)
rmse = np.sqrt(mean_squared_error(T6, predicted_T6))
print(f"Root Mean Squared Error: {rmse:.3f}")

Root Mean Squared Error: 3.644

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [ ]:
X = df.drop(columns=['Appliances'])
y = df['Appliances']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
model = LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression()

In [ ]:
y_train_pred = model.predict(X_train_scaled)
mae_train = mean_absolute_error(y_train, y_train_pred)
print(f"Mean Absolute Error (Training Set): {mae_train:.3f}")

Mean Absolute Error (Training Set): 53.028

In [ ]:
from sklearn.metrics import mean_squared_error

# Calculate Mean Squared Error
mse_train = mean_squared_error(y_train, y_train_pred)

# Calculate Root Mean Squared Error
rmse_train = np.sqrt(mse_train)

# Print RMSE rounded to three decimal places
print(f"Root Mean Squared Error (Training Set): {rmse_train:.3f}")

Root Mean Squared Error (Training Set): 94.180

In [ ]:
y_test_pred = model.predict(X_test_scaled)
mae_test = mean_absolute_error(y_test, y_test_pred)
print(f"Mean Absolute Error (Test Set): {mae_test:.3f}")

Mean Absolute Error (Test Set): 52.925

In [ ]:
# Make predictions on the test set
y_test_pred = model.predict(X_test_scaled)

# Calculate Mean Absolute Error for the test set
mae_test = mean_absolute_error(y_test, y_test_pred)

# Print MAE rounded to three decimal places
print(f"Mean Absolute Error (Test Set): {mae_test:.3f}")

Mean Absolute Error (Test Set): 52.925

In [ ]:
from sklearn.metrics import mean_squared_error

# Assuming you have already made predictions on the test set and stored them in y_test_pred
# Calculate Mean Squared Error for the test set
mse_test = mean_squared_error(y_test, y_test_pred)

# Calculate Root Mean Squared Error for the test set
rmse_test = np.sqrt(mse_test)

# Print RMSE rounded to three decimal places
print(f"Root Mean Squared Error (Test Set): {rmse_test:.3f}")

Root Mean Squared Error (Test Set): 92.626

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Assuming X_train_scaled, y_train, X_test_scaled, y_test are already prepared
model_linear = LinearRegression()
model_linear.fit(X_train_scaled, y_train)

# Make predictions on the test set using the linear regression model
y_test_pred_linear = model_linear.predict(X_test_scaled)

# Calculate RMSE for the linear regression model on the test set
rmse_test_linear = np.sqrt(mean_squared_error(y_test, y_test_pred_linear))

In [ ]:
from sklearn.linear_model import Ridge

# Train the ridge regression model
model_ridge = Ridge()  # Default alpha (regularization strength) is 1.0
model_ridge.fit(X_train_scaled, y_train)

# Make predictions on the test set using the ridge regression model
y_test_pred_ridge = model_ridge.predict(X_test_scaled)

# Calculate RMSE for the ridge regression model on the test set
rmse_test_ridge = np.sqrt(mean_squared_error(y_test, y_test_pred_ridge))

In [ ]:
# Print RMSE for both models
print(f"RMSE (Linear Regression): {rmse_test_linear:.3f}")
print(f"RMSE (Ridge Regression): {rmse_test_ridge:.3f}")

# Check if there's a change in RMSE
if rmse_test_ridge < rmse_test_linear:
    print("Yes, there is a change in RMSE when using Ridge Regression.")
else:
    print("No, there is no change in RMSE when using Ridge Regression.")

RMSE (Linear Regression): 92.626
RMSE (Ridge Regression): 92.688
No, there is no change in RMSE when using Ridge Regression.

In [ ]:
from sklearn.linear_model import Lasso

# Train the Lasso regression model with default alpha (regularization strength)
model_lasso = Lasso()
model_lasso.fit(X_train_scaled, y_train)

# Get the feature weights (coefficients) from the trained Lasso model
feature_weights = model_lasso.coef_

# Count the number of features with non-zero feature weights
non_zero_features = sum(feature_weights != 0)

print(f"Number of features with non-zero feature weights: {non_zero_features}")

Number of features with non-zero feature weights: 4

In [ ]:
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

# Train the Lasso regression model with default alpha (regularization strength)
model_lasso = Lasso()
model_lasso.fit(X_train_scaled, y_train)

# Make predictions on the test set using the Lasso regression model
y_test_pred_lasso = model_lasso.predict(X_test_scaled)

# Calculate RMSE for the Lasso regression model on the test set
rmse_test_lasso = np.sqrt(mean_squared_error(y_test, y_test_pred_lasso))

print(f"RMSE (Lasso Regression): {rmse_test_lasso:.3f}")

RMSE (Lasso Regression): 98.049